/* =============================================================================
 *
 * Waybar configuration
 *
 * Configuration reference: https://github.com/Alexays/Waybar/wiki/Configuration
 *
 * =========================================================================== */

/* -----------------------------------------------------------------------------
 * Keyframes
 * -------------------------------------------------------------------------- */

@keyframes blink-warning {
    70% {
        color: @light;
    }

    to {
        color: @light;
        background-color: @warning;
    }
}

@keyframes blink-critical {
    70% {
      color: @light;
    }

    to {
        color: @light;
        background-color: @critical;
    }
}


/* -----------------------------------------------------------------------------
 * Styles
 * -------------------------------------------------------------------------- */

/* Default colors */
@define-color light #eceff4;
@define-color dark #2e3440;
@define-color warning #ebcb8b;
@define-color critical #d08770;

@define-color one  #d8dee9;
@define-color two #4c566a;
@define-color three #88c0d0;
@define-color four #434c5e;
@define-color five #5e81ac;
@define-color six #2e3440;
@define-color seven #eceff4;
@define-color eigth #5e81ac;

/* Reset all styles */
* {
    border: none;
    border-radius: 0;
    min-height: 0;
    margin: 0;
    padding: 0;
}

/* The whole bar */
#waybar {
    background: transparent;
    color: #eceff4;
    font-family: FiraCode, Noto Sans;
    font-size: 13px;
    font-weight: bold;
}

/* Each module */
#battery,
#clock,
#cpu,
#custom-spotifyd,
#idle_inhibitor,
#memory,
#mode,
#network,
#pulseaudio,
#temperature,
#tray {
    padding-left: 10px;
    padding-right: 10px;
}

/* Each module that should blink */
#mode,
#memory,
#temperature,
#battery {
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

/* Each critical module */
#memory.critical,
#cpu.critical,
#temperature.critical,
#battery.critical {
    color: @critical;
}

/* Each critical that should blink */
#mode,
#memory.critical,
#temperature.critical,
#battery.critical.discharging {
    animation-name: blink-critical;
    animation-duration: 2s;
}

/* Each warning */
#network.disconnected,
#memory.warning,
#cpu.warning,
#temperature.warning,
#battery.warning {
    color: @warning;
}

/* Each warning that should blink */
#battery.warning.discharging {
    animation-name: blink-warning;
    animation-duration: 3s;
}

/* And now modules themselves in their respective order */

#mode { /* Shown current Sway mode (resize etc.) */
    color: @light;
    background: #bf616a;
}

/* Workspaces stuff */
#workspaces button {
    font-weight: bold; /* Somewhy the bar-wide setting is ignored*/
    /* All these comments are here just for reference */
    /*border-bottom: 3px solid transparent;
    To compensate for the bottom border and still have vertical centering
    padding-top: 3px;*/
    padding-left: 5px;
    padding-right: 5px;
    color: @dark;
    background: #5e81ac;
}

#workspaces button.focused {
    background: #81a1c1;
}

#workspaces button.urgent { /* Not used at all, maybe I'll delete it soon */
    border-color: #c9545d;
    color: #c9545d;
}

#window {
    margin-right: 40px;
    margin-left: 40px;
}

#pulseaudio {
    background: @eigth;
    color: @light
}

#network {
    background: @two;
    color: @light;
}

#network.network2 {
    background: @three;
    color: @dark;
}

#memory {
    background: @four;
    color: @light;
}

#idle_inhibitor {
    background: @one;
    color: @dark;
}

#cpu {
    background: @five;
    color: @dark;
}

#temperature {
    background: @six;
    color: @light;
}

#battery {
    background: @seven;
    color: @dark;
}

#clock.date {
    background: @eigth;
    color: @ligth;
}

#clock.time {
    background: @one;
    color: @dark;
}

#custom-spotifyd {
    background: #d8dee9;
    color: @dark
}

#pulseaudio.muted {
    /* No styles */
}

#custom-arrow1 {
    font-size: 17px;
    color: @one;
    background: transparent;
}

#custom-arrowIdle {
    font-size: 17px;
    color: @eigth;
    background: @one;
}

#custom-arrow2 {
    font-size: 17px;
    color: @two;
    background: @eigth;
}

#custom-arrow3 {
    font-size: 17px;
    color: @three;
    background: @two;
}

#custom-arrow4 {
    font-size: 17px;
    color: @four;
    background: @three;
}

#custom-arrow5 {
    font-size: 17px;
    color: @five;
    background: @four;
}

#custom-arrow6 {
    font-size: 17px;
    color: @six;
    background: @five;
}

#custom-arrow7 {
    font-size: 17px;
    color: @seven;
    background: @six;
}

#custom-arrow8 {
    font-size: 17px;
    color: @eigth;
    background: @seven;
}

#custom-arrow9 {
    font-size: 17px;
    color: @one;
    background: @eigth;
}

#custom-arrow10 {
    font-size: 17px;
    color: #5e81ac;
    background: transparent;
}
